<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class 6</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!--this is set up of public static file-->
    <!--kisi bhi ejs file main koi bhai file link krny ke liy public folder nhi likhengy-->
    <h1>hey <%= 12+2 %></h1>

    <script src="/javascripts/script.js"></script>
</body>
</html>